<a href="https://colab.research.google.com/github/ti-molodykh/colab/blob/main/%22%E2%84%967_Python_pandas_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Занятие 7
*   [Полный User Guide по библиотеке pandas](https://pandas.pydata.org/docs/user_guide/index.html)
*   [Куча полезных рецептов и хороших практик](https://pandas.pydata.org/docs/user_guide/cookbook.html)

Данные iris.csv можно скачать отсюда https://drive.google.com/file/d/1fjyopp9FZ-g6KIsIE8vPX2r62A43h2XI/view?usp=sharing

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
import pandas as pd
import numpy as np

## Pandas
В pandas существует два основных объекта: pandas Series и pandas DataFrame. Первая это по сути асбтракция над одномерным массивом данных с дополнительными метаданными, а вторая абстракция это по сути "таблица", состоящая из наборов pandas Series.

### Создание объекта
Начнем с pd.Series. Также, как и для numpy массива мы можем задать тип данных. Доступны все те же типы данных, что и в numpy + есть возможность конвертировать одни типы данных в другие с помощью astype + можно указывать [свои функции](https://pbpython.com/pandas_dtypes.html) для преобразования.

In [ ]:
s = pd.Series([1,2,3], dtype=np.int32, name='numbers') # pd.Series
s

NameError: ignored

Обратите внимание на колонку слева, это индекс, и если не указано обратное, он создается автоматически. Индексы мы будем встречать как для pd.Series, так и для pd.DataFrame. Что же он дает? Аналогия здесь такая же, что с телефонным справочником. Индексы позволяют более логично категоризовать информацию, а также более оптимально делать некоторые операции над сериями (pd.Series) и датафреймами (pd.DataFrame). Вкратце, можно отметить, что индексы
1. Идентифицируют данные (т.е. предоставляют метаданные) с помощью известных индикаторов, важных для анализа, визуализации и отображения в интерактивной консоли
2. Включают автоматическое и явное выравнивание данных.
3. Позволяют интуитивно получать и настраивать подмножества набора данных.

Помимо этого обратите внимание, что у серии также есть имя. Это полезно, когда нам нужно вставить новую колонку в DataFrame без явного указания имени.

Следующим образом мы можем задать произвольный индекс, теперь наши записи идентифицируют буквы a b c

In [ ]:
s = pd.Series([1,2,3], dtype=np.int32, name='numbers', index=['a', 'b', 'c'])
s

a    1
b    2
c    3
Name: numbers, dtype: int32

Помимо индекса (свойства s.index) также сохраняется сквозняется целочисленная индексация.

Ниже выборка просто по целочисленному индексу (сквозному), как будто мы работаем с обычным списком

In [ ]:
s[0] #

1

Метод доступа .loc позволяет делать выборку именно по индексу.
Обратите внимание, что здесь используются именно квадратные скобки. Скорее всего так сделано, чтобы такая выборка была похоже на выборку из обычного списка.

In [ ]:
s.loc['b']

2

Посмотреть отдельно на индекс можно с помощью свойства .index

In [ ]:
s.index

Index(['a', 'b', 'c'], dtype='object')

Создадим pandas DataFrame из случайной numpy матрицы

In [ ]:
m = np.random.rand(5,3)
df = pd.DataFrame(m)
df

          0         1         2
0  0.139715  0.824723  0.771676
1  0.551568  0.682057  0.216645
2  0.253388  0.846870  0.546455
3  0.900381  0.464911  0.536229
4  0.692431  0.121005  0.273245

Мы видим строковый индекс, который был создан автоматически, а также колоночный (или просто колонки), которые также были заданы автоматически. У нас получился не совсем привычный вид таблицы, давайте зададим колонкам более понятные имена.

In [ ]:
df = pd.DataFrame(data=m, columns=['first', 'second', 'third'],)
df

      first    second     third
0  0.139715  0.824723  0.771676
1  0.551568  0.682057  0.216645
2  0.253388  0.846870  0.546455
3  0.900381  0.464911  0.536229
4  0.692431  0.121005  0.273245

В pandas DataFrame выборка квадратными скобками происходит по колонкам

In [ ]:
df['first']

0    0.139715
1    0.551568
2    0.253388
3    0.900381
4    0.692431
Name: first, dtype: float64

In [ ]:
df[0] # такой колонки нет, будет ошибка

KeyError: ignored

Но ВНЕЗАПНО, если мы попробуем применить слайсинг как в обычных массивах numpy или списках, выборка будет происходить по строкам. Эта та особенность, которую мы вынуждены просто запомнить. Выборка при этом происходит по целочисленной сквозной индексации (0,1,2,3,4,...).

In [ ]:
df[:2]

      first    second     third
0  0.139715  0.824723  0.771676
1  0.551568  0.682057  0.216645

Есть удобный способ инициализировать новый DataFrame с помощью словаря. Ключи станут названиями колонок, а значения по ключам столбцами.

In [ ]:
# pd.DataFrame через словарь
d = {
    'name': ['Dmitry', 'Alexey', 'Vladimir', 'Elena'],
    'age': [24, 25, 30, 40]
}
pd.DataFrame(d)

       name  age
0    Dmitry   24
1    Alexey   25
2  Vladimir   30
3     Elena   40

### Просмотр

По умолчанию colab notebook (или jupyter notebook) будет "обрезать" отображение табличек, так как если там много строк, они могут занимать много места, и привести ваш браузер в замешательство, а компьютер в полный аут.

In [ ]:
df

      first    second     third
0  0.139715  0.824723  0.771676
1  0.551568  0.682057  0.216645
2  0.253388  0.846870  0.546455
3  0.900381  0.464911  0.536229
4  0.692431  0.121005  0.273245

In [ ]:
pd.DataFrame(np.random.rand(100,2)) # так будет пропущено несколько строчек в целях экономии места

           0         1
0   0.196364  0.057818
1   0.610695  0.655807
2   0.923699  0.761741
3   0.822503  0.270467
4   0.609182  0.766821
..       ...       ...
95  0.057147  0.664322
96  0.110629  0.832584
97  0.151626  0.061639
98  0.885802  0.700245
99  0.505144  0.149290

[100 rows x 2 columns]

Впрочем, вряд ли вам понадобится отсматривать, скажем, 100000 строк какой-нибудь таблицы вручную. Как правило, нам достаточно посмотреть первые несколько строк таблицы, чтобы понять что там находится, и правильно ли мы прочитали нашу таблицу из файла.

In [ ]:
df.head(2) # покажем первые две строки датафрейма

      first    second     third
0  0.139715  0.824723  0.771676
1  0.551568  0.682057  0.216645

In [ ]:
df.tail(2) # последние две строчки с конца

      first    second     third
3  0.900381  0.464911  0.536229
4  0.692431  0.121005  0.273245

Мы можем отдельно посмотреть строковый индекс и колонки с помощью соответствующих свойств объекта

In [ ]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
df.columns

Index(['first', 'second', 'third'], dtype='object')

In [ ]:
df.columns[1]

'second'

Узнать форму нашей таблицы

In [ ]:
df.shape

(5, 3)

In [ ]:
df.shape[0]

5

In [ ]:
df.shape[1]

3

Посмотреть типы данных

In [ ]:
df.dtypes

first     float64
second    float64
third     float64
dtype: object

И менять их с помощью метода astype. Обратите внимание, что мы можем передать целый словарь в котором ключи это названия колонок, а значения по ключу это тип данных к которому мы хотим преобразовать соответствующую колонку.

In [ ]:
df.astype({'first': np.float32}).dtypes

first     float32
second    float64
third     float64
dtype: object

Мы можем отказаться от всех метаданных и перейти к numpy матрице, чтобы работать с ней с помощью методов из библиотеки numpy

In [ ]:
df.to_numpy()

array([[0.37969151, 0.64182666, 0.76328264],
       [0.55349974, 0.4536163 , 0.89200988],
       [0.37906648, 0.30857808, 0.66939211],
       [0.43511226, 0.17925616, 0.50626252],
       [0.27500895, 0.87852117, 0.38251001]])

Крайне полезен метод .describe(), который выводит нам дескриптивную статистику по нашему датафрейму.

In [ ]:
df.describe()

          first    second     third
count  5.000000  5.000000  5.000000
mean   0.507497  0.587913  0.468850
std    0.312384  0.302131  0.225906
min    0.139715  0.121005  0.216645
25%    0.253388  0.464911  0.273245
50%    0.551568  0.682057  0.536229
75%    0.692431  0.824723  0.546455
max    0.900381  0.846870  0.771676

А в методе info мы можем сразу проверить наличие пропусков (графа Non-Null Count), а также посмотреть какой объем памяти занимает наша табличка (чем меньше, тем, конечно, лучше).

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   first   5 non-null      float64
 1   second  5 non-null      float64
 2   third   5 non-null      float64
dtypes: float64(3)
memory usage: 248.0 bytes

In [ ]:
df.astype({'first': np.float32}).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   first   5 non-null      float32
 1   second  5 non-null      float64
 2   third   5 non-null      float64
dtypes: float32(1), float64(2)
memory usage: 228.0 bytes

По большому счету колонки это тот же индекс, только по горизонтальной оси (axis = 1). Строковый и столбцовый индексы могут заменять друг друга, давайте продемонстрируем это с помощью операции транспонирования.

Кстати, ниже напоминание об осях из прошлой лекции.

![axes](https://railsware.com/blog/wp-content/uploads/2018/11/data-frame-axes.png)

![axes](https://i.stack.imgur.com/FzimB.png)

In [ ]:
df.T

               0         1         2         3         4
first   0.139715  0.551568  0.253388  0.900381  0.692431
second  0.824723  0.682057  0.846870  0.464911  0.121005
third   0.771676  0.216645  0.546455  0.536229  0.273245

Мы можем сортировать строки таблицы по значениям колонок. Обратите внимание, что индекс остался прежним.

In [ ]:
df.sort_values('first', ascending=False, ) # ascending=False по убыванию

      first    second     third
1  0.553500  0.453616  0.892010
3  0.435112  0.179256  0.506263
0  0.379692  0.641827  0.763283
2  0.379066  0.308578  0.669392
4  0.275009  0.878521  0.382510

А можем сортировать именно индекс.

In [ ]:
df.T.sort_index(axis=0, ascending=False)

               0         1         2         3         4
third   0.771676  0.216645  0.546455  0.536229  0.273245
second  0.824723  0.682057  0.846870  0.464911  0.121005
first   0.139715  0.551568  0.253388  0.900381  0.692431

### Выборка
Подробная информация по выборкам данных представлена [тут](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html).

#### Квадратные скобки
Как уже отмечалось выше, для датафреймов выборка происходит по столбцам.

In [ ]:
df['third']

0    0.771676
1    0.216645
2    0.546455
3    0.536229
4    0.273245
Name: third, dtype: float64

In [ ]:
df[['third', 'first']]

      third     first
0  0.771676  0.139715
1  0.216645  0.551568
2  0.546455  0.253388
3  0.536229  0.900381
4  0.273245  0.692431

In [ ]:
df[1:4] # слайсинг по сквозному целочисленному индексу как в массиве

      first    second     third
1  0.551568  0.682057  0.216645
2  0.253388  0.846870  0.546455
3  0.900381  0.464911  0.536229

#### Выборка по метке (лейблу)
Добавим новый столбец в нашу таблицу и сделаем его новым индексом с помощью метода .set_index()

In [ ]:
df['new_index'] = pd.Series(['a', 'b', 'e', 'c', 'g'])
df

      first    second     third new_index
0  0.139715  0.824723  0.771676         a
1  0.551568  0.682057  0.216645         b
2  0.253388  0.846870  0.546455         e
3  0.900381  0.464911  0.536229         c
4  0.692431  0.121005  0.273245         g

In [ ]:
df = df.set_index('new_index')
df

              first    second     third
new_index
a          0.139715  0.824723  0.771676
b          0.551568  0.682057  0.216645
e          0.253388  0.846870  0.546455
c          0.900381  0.464911  0.536229
g          0.692431  0.121005  0.273245

Теперь с помощью .loc мы можем производить навигацию по этому индексу

In [ ]:
df.loc['b']

first     0.553500
second    0.453616
third     0.892010
Name: b, dtype: float64

И даже использовать диапазоны (слайсы) по индексу

In [ ]:
df.loc['b':'c']

              first    second     third
new_index
b          0.553500  0.453616  0.892010
e          0.379066  0.308578  0.669392
c          0.435112  0.179256  0.506263

Через запятую мы можем указать также и фильтр по столбцам

In [ ]:
df.loc['b':'c', ['second', 'third']]

             second     third
new_index
b          0.231609  0.472886
e          0.235704  0.081039
c          0.872867  0.521625

#### Выборка по позиции в таблице
Сохраняется сквозная целочисленная индексация, и она доступна с помощью метода .iloc. Скобки также квадратные

In [ ]:
df

              first    second     third
new_index
a          0.379692  0.641827  0.763283
b          0.553500  0.453616  0.892010
e          0.379066  0.308578  0.669392
c          0.435112  0.179256  0.506263
g          0.275009  0.878521  0.382510

In [ ]:
df.iloc[1:3]

              first    second     third
new_index
b          0.551568  0.682057  0.216645
e          0.253388  0.846870  0.546455

Происходит выборка именно по **номеру** строки и **номеру** столбца (начиная с нуля)

In [ ]:
df.iloc[1:3, [0,2]]

              first     third
new_index
b          0.551568  0.216645
e          0.253388  0.546455

### Чтение и запись данных

В pandas присутствует огромное кол-во возможностей для чтения записи данных.

Например, в методе pd.read_csv доступны специфичные опции для формата (например, разделитель колонок sep), но и также можно, например, дополнить список значений, которые pandas по умолчанию считает пропусками, задав явно параметр na_values.

Более подробную информацию про чтение запись данных можно найти [здесь](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)

In [ ]:
iris = pd.read_csv('iris.csv', header='infer', sep=',')
iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [ ]:
pd.read_ # доступно очень большое кол-во форматов для чтения (необходимо нажать ctrl+пробел)

In [ ]:
# запись to_csv() и другие

In [ ]:
iris.to_csv('iris_test.csv', header=True, index=False) # сохраняем в качестве первой строки список колонок, первой колонкой индекс НЕ пишем

In [ ]:
!ls #https://timeweb.com/ru/community/articles/komandy-linux

sample_data

Загрузим набор данных iris.csv, и потренируемся делать выборки на нем.

In [ ]:
import numpy as np
import pandas as pd

iris = pd.read_csv('iris.csv', header='infer')
iris.head(5)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

##### Задачи на выборку данных
1. выведите первые 4 строки и первые 2 столбца с помощью метода .iloc
2. выведите только колонки sepal.length и petal.length с помощью loc и/или квадратных скобок
3. сделайте индексом колонку variety с помощью метода .set_index(), и выберите с помощью .loc только вид 'Setosa'

In [ ]:
iris.iloc[:4, :2] # 1.

   sepal.length  sepal.width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1

In [ ]:
iris.loc[:, ['sepal.length', 'petal.length']] # 2.

     sepal.length  petal.length
0             5.1           1.4
1             4.9           1.4
2             4.7           1.3
3             4.6           1.5
4             5.0           1.4
..            ...           ...
145           6.7           5.2
146           6.3           5.0
147           6.5           5.2
148           6.2           5.4
149           5.9           5.1

[150 rows x 2 columns]

In [ ]:
iris.set_index('variety').loc['Setosa'] # 3.

         sepal.length  sepal.width  petal.length  petal.width
variety
Setosa            5.1          3.5           1.4          0.2
Setosa            4.9          3.0           1.4          0.2
Setosa            4.7          3.2           1.3          0.2
Setosa            4.6          3.1           1.5          0.2
Setosa            5.0          3.6           1.4          0.2
Setosa            5.4          3.9           1.7          0.4
Setosa            4.6          3.4           1.4          0.3
Setosa            5.0          3.4           1.5          0.2
Setosa            4.4          2.9           1.4          0.2
Setosa            4.9          3.1           1.5          0.1
Setosa            5.4          3.7           1.5          0.2
Setosa            4.8          3.4           1.6          0.2
Setosa            4.8          3.0           1.4          0.1
Setosa            4.3          3.0           1.1          0.1
Setosa            5.8          4.0           1.2          0.2
Setosa            5.7          4.4           1.5          0.4
Setosa            5.4          3.9           1.3          0.4
Setosa            5.1          3.5           1.4          0.3
Setosa            5.7          3.8           1.7          0.3
Setosa            5.1          3.8           1.5          0.3
Setosa            5.4          3.4           1.7          0.2
Setosa            5.1          3.7           1.5          0.4
Setosa            4.6          3.6           1.0          0.2
Setosa            5.1          3.3           1.7          0.5
Setosa            4.8          3.4           1.9          0.2
Setosa            5.0          3.0           1.6          0.2
Setosa            5.0          3.4           1.6          0.4
Setosa            5.2          3.5           1.5          0.2
Setosa            5.2          3.4           1.4          0.2
Setosa            4.7          3.2           1.6          0.2
Setosa            4.8          3.1           1.6          0.2
Setosa            5.4          3.4           1.5          0.4
Setosa            5.2          4.1           1.5          0.1
Setosa            5.5          4.2           1.4          0.2
Setosa            4.9          3.1           1.5          0.2
Setosa            5.0          3.2           1.2          0.2
Setosa            5.5          3.5           1.3          0.2
Setosa            4.9          3.6           1.4          0.1
Setosa            4.4          3.0           1.3          0.2
Setosa            5.1          3.4           1.5          0.2
Setosa            5.0          3.5           1.3          0.3
Setosa            4.5          2.3           1.3          0.3
Setosa            4.4          3.2           1.3          0.2
Setosa            5.0          3.5           1.6          0.6
Setosa            5.1          3.8           1.9          0.4
Setosa            4.8          3.0           1.4          0.3
Setosa            5.1          3.8           1.6          0.2
Setosa            4.6          3.2           1.4          0.2
Setosa            5.3          3.7           1.5          0.2
Setosa            5.0          3.3           1.4          0.2

#### Выборка по маске
Также как и в numpy присутствует возможность делать выборки по маске. Но здесь механизм несколько отличается. Если в numpy мы получали матрицу из True и False, и у каждому элементу было сопоставлено значение True (брать в выборку) или False (не брать в выборку), то в pandas маска это pandas Series **с такой же индексацией** что и исходный датафрейм или серия, состоящий из значений True или False. Т.е мы указываем какие строчки идут в результирующую выборку, а какие нет.

In [ ]:
# получаем маску в которой у каждого индекса (!!!) указано оставлять его в наборе данных или нет
(iris['sepal.length'] > 5.0) & (iris['sepal.width'] <= 3.0)

0      False
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147     True
148    False
149     True
Length: 150, dtype: bool

Конечно, мы можем выстраивать условия в логические цепочки

In [ ]:
iris[(iris['sepal.length'] > 5.0) & (iris['sepal.width'] <= 3.0)]

     sepal.length  sepal.width  petal.length  petal.width     variety
53            5.5          2.3           4.0          1.3  Versicolor
54            6.5          2.8           4.6          1.5  Versicolor
55            5.7          2.8           4.5          1.3  Versicolor
58            6.6          2.9           4.6          1.3  Versicolor
59            5.2          2.7           3.9          1.4  Versicolor
..            ...          ...           ...          ...         ...
142           5.8          2.7           5.1          1.9   Virginica
145           6.7          3.0           5.2          2.3   Virginica
146           6.3          2.5           5.0          1.9   Virginica
147           6.5          3.0           5.2          2.0   Virginica
149           5.9          3.0           5.1          1.8   Virginica

[71 rows x 5 columns]

Мы можем даже перемешать значения, но выборка все равно останется той же за счет соответствия по индексу!

In [ ]:
iris.sort_values('sepal.length')[(iris['sepal.length'] > 5.0) & (iris['sepal.width'] <= 3.0)]

<ipython-input-56-555e65d6e041>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  iris.sort_values('sepal.length')[(iris['sepal.length'] > 5.0) & (iris['sepal.width'] <= 3.0)]

     sepal.length  sepal.width  petal.length  petal.width     variety
98            5.1          2.5           3.0          1.1  Versicolor
59            5.2          2.7           3.9          1.4  Versicolor
84            5.4          3.0           4.5          1.5  Versicolor
90            5.5          2.6           4.4          1.2  Versicolor
53            5.5          2.3           4.0          1.3  Versicolor
..            ...          ...           ...          ...         ...
130           7.4          2.8           6.1          1.9   Virginica
105           7.6          3.0           6.6          2.1   Virginica
122           7.7          2.8           6.7          2.0   Virginica
118           7.7          2.6           6.9          2.3   Virginica
135           7.7          3.0           6.1          2.3   Virginica

[71 rows x 5 columns]

In [ ]:
# получим уникальные значения индексов в каждой выборке
# если множество ключей в первом случае совпадает со множеством во втором случае, то 
# в обоих случаях мы сделали одинаковую выборку
set(iris[(iris['sepal.length'] > 5.0) & (iris['sepal.width'] <= 3.0)].index) \
 - set(iris.sort_values('sepal.length')[(iris['sepal.length'] > 5.0) & (iris['sepal.width'] <= 3.0)].index)

<ipython-input-57-b79fdce745cb>:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  - set(iris.sort_values('sepal.length')[(iris['sepal.length'] > 5.0) & (iris['sepal.width'] <= 3.0)].index)

set()

Для того, чтобы сделать фильтрацию по значениям в колонке, используйте метод .isin()

In [ ]:
iris['variety'].isin(['Setosa', 'Virginica']) # проверка по множеству

0      True
1      True
2      True
3      True
4      True
       ...
145    True
146    True
147    True
148    True
149    True
Name: variety, Length: 150, dtype: bool

#### Вставка значений
Вставку значений можно производить методами доступа .loc и .iloc, а также методом .at. Разница в том, что .loc и .iloc чуть более универсальны, и позволяют изменить сразу целый диапазон, при этом важно соблюсти размерности вставляемых данных. .at в свою очередь дает нам точечную вставку "на место", и лучше подходит с точки зрения чтения кода.

In [ ]:
df = pd.DataFrame(np.random.rand(6,3), 
                  index=['a','b','c','d','e','f'], 
                  columns=['first', 'second', 'third'])
df

      first    second     third
a  0.582984  0.803948  0.495470
b  0.083117  0.017729  0.143703
c  0.381523  0.245363  0.173986
d  0.904324  0.660474  0.270930
e  0.886499  0.312444  0.206927
f  0.860791  0.920364  0.053590

In [ ]:
df.loc['b','first'] = 1.0
df

      first    second     third
a  0.582984  0.803948  0.495470
b  1.000000  0.017729  0.143703
c  0.381523  0.245363  0.173986
d  0.904324  0.660474  0.270930
e  0.886499  0.312444  0.206927
f  0.860791  0.920364  0.053590

In [ ]:
df.loc['a':'c', 'first'] = [0.5, 1.5, 2.0]
df

      first    second     third
a  0.500000  0.803948  0.495470
b  1.500000  0.017729  0.143703
c  2.000000  0.245363  0.173986
d  0.904324  0.660474  0.270930
e  0.886499  0.312444  0.206927
f  0.860791  0.920364  0.053590

In [ ]:
df.at['e', 'second'] = 100
df

      first      second       third
a  0.500000  100.000000  100.000000
b  1.500000  100.000000  100.000000
c  2.000000  100.000000    0.173986
d  0.904324  100.000000    0.270930
e  0.886499  100.000000    0.206927
f  0.860791    0.920364    0.053590

### Пропущенные значения
По умолчанию не участвуют в вычислениях, и чаще всего на месте пропусков можно встретить значение np.nan (Not a Number), либо None (для нечисловых типов)

In [ ]:
# сделаем специально несколько пропущенных значений
df.at['e', 'second'] = np.nan
df.at['e', 'third'] = np.nan
df

      first    second     third
a  0.500000  0.384299  0.089012
b  1.500000  0.323776  0.045295
c  2.000000  0.372784  0.365997
d  0.064578  0.435754  0.118551
e  0.800549       NaN       NaN
f  0.371478  0.318323  0.975843

Метод .isna() возвращает нам карту с пропусками. Пропуск там, где значение True.

In [ ]:
df.isna()

   first  second  third
a  False   False  False
b  False   False  False
c  False   False  False
d  False   False  False
e  False    True   True
f  False   False  False

Напоминаю, что в принципе количественную информацию о пропусках можно получить с помощью метода .info()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, a to f
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   first   6 non-null      float64
 1   second  5 non-null      float64
 2   third   5 non-null      float64
dtypes: float64(3)
memory usage: 352.0+ bytes

Для удаления пропусков используется метод .dropna().

По умолчанию .dropna() удалит те строки в которых есть хотя бы один пропуск в строке.

In [ ]:
df.dropna()

      first    second     third
a  0.500000  0.384299  0.089012
b  1.500000  0.323776  0.045295
c  2.000000  0.372784  0.365997
d  0.064578  0.435754  0.118551
f  0.371478  0.318323  0.975843

А с помощью транспонирования можно удалять целые столбцы

In [ ]:
df.T.dropna().T

      first
a  0.500000
b  1.500000
c  2.000000
d  0.064578
e  0.800549
f  0.371478

Или использовать параметр axis=1

In [ ]:
df.dropna(axis=1)

      first
a  0.500000
b  1.500000
c  2.000000
d  0.064578
e  0.800549
f  0.371478

Но все же часто нам все-таки интересны данные с пропусками. Для работы с ними можно использовать метод .fillna()

Вот так мы заполним все пропуски одним и тем же значением

In [ ]:
df.fillna(0)

      first    second     third
a  0.500000  0.384299  0.089012
b  1.500000  0.323776  0.045295
c  2.000000  0.372784  0.365997
d  0.064578  0.435754  0.118551
e  0.800549  0.000000  0.000000
f  0.371478  0.318323  0.975843

Но обычно мы все же хотим заполнять разные столбцы разными значениями

In [ ]:
df.fillna({'second': 0, 'third': 1.0})

      first    second     third
a  0.500000  0.384299  0.089012
b  1.500000  0.323776  0.045295
c  2.000000  0.372784  0.365997
d  0.064578  0.435754  0.118551
e  0.800549  0.000000  1.000000
f  0.371478  0.318323  0.975843

Есть и более продвинутые методы заполнения, сделаем несколько пропусков подряд

In [ ]:
df.at['d', 'second'] = np.nan
df.at['d', 'third'] = np.nan
df

      first    second     third
a  0.500000  0.384299  0.089012
b  1.500000  0.323776  0.045295
c  2.000000  0.372784  0.365997
d  0.064578       NaN       NaN
e  0.800549       NaN       NaN
f  0.371478  0.318323  0.975843

Метод bfill заполняет серию пропусков последним корректным (non Null) значением, итерируясь по таблице с конца.

In [ ]:
df.fillna(method='bfill')

      first    second     third
a  0.500000  0.384299  0.089012
b  1.500000  0.323776  0.045295
c  2.000000  0.372784  0.365997
d  0.064578  0.318323  0.975843
e  0.800549  0.318323  0.975843
f  0.371478  0.318323  0.975843

Метод ffill делает то же самое, но итерация происходит с начала таблицы

In [ ]:
df.fillna(method='ffill')

      first    second     third
a  0.500000  0.384299  0.089012
b  1.500000  0.323776  0.045295
c  2.000000  0.372784  0.365997
d  0.064578  0.372784  0.365997
e  0.800549  0.372784  0.365997
f  0.371478  0.318323  0.975843

bfill и ffill особенно полезны при заполнении пропусков во временном ряду. Более подробно данный функционал описан [здесь](https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html).

[Интерполяция](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.interpolate.html), увы делается отдельными методами.

### Статистики
Конечно, в pandas реализовано куча методов для подсчета различных статистик. 
Полный список методов можно посмотреть [здесь](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)

In [ ]:
# mean, std, var, value_counts, df +- series

Вот так мы можем посчитать средние значения для всех колонок сразу

In [ ]:
df.mean()

      first      second       third
a  0.500000  100.000000  100.000000
b  1.500000  100.000000  100.000000
c  2.000000  100.000000    0.173986
d  0.904324  100.000000    0.270930
e  0.886499  100.000000    0.206927
f  0.860791    0.920364    0.053590

А так посчитать среднее лишь для одной колонки

In [ ]:
df['first'].mean()

0.8727675477330439

То же для [стандартного отклонения](https://berg.com.ua/indicators-overlays/stdev/#:~:text=%D0%A1%D1%82%D0%B0%D0%BD%D0%B4%D0%B0%D1%80%D1%82%D0%BD%D0%BE%D0%B5%20%D0%BE%D1%82%D0%BA%D0%BB%D0%BE%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%BC%D0%BE%D0%B6%D0%BD%D0%BE%20%D0%B2%D1%8B%D1%80%D0%B0%D0%B7%D0%B8%D1%82%D1%8C%20%D1%84%D0%BE%D1%80%D0%BC%D1%83%D0%BB%D0%BE%D0%B9,%D0%BD%D0%B0%20%D0%BA%D0%BE%D0%BB%D0%B8%D1%87%D0%B5%D1%81%D1%82%D0%B2%D0%BE%20%D1%8D%D0%BB%D0%B5%D0%BC%D0%B5%D0%BD%D1%82%D0%BE%D0%B2%20%D0%B2%20%D0%B2%D1%8B%D0%B1%D0%BE%D1%80%D0%BA%D0%B5.)

In [ ]:
df.std() # стандартное

first     0.736574
second    0.033598
third     0.428736
dtype: float64

Или [дисперсии](https://ru.qwe.wiki/wiki/Variance)

In [ ]:
df.var() # дисперсию

first     0.542541
second    0.001129
third     0.183815
dtype: float64

А с помощью .value_counts() можно посчитать кол-во вхождений уникальных значений

In [ ]:
df['second'].value_counts()

0.318323    1
0.323776    1
0.372784    1
0.384299    1
Name: second, dtype: int64

### Применение функций к данным (apply)
И все же иногда в pandas требуются новые функции со своей логикой обработки. Тогда на помощью приходит метод .apply

Он работает следующим образом. Мы передаем первым аргументом функцию, которая отвечает за логику, а вторым передаем axis, т.е мы указываем производить обработку по колонкам или по строкам.

В самой функции, задающей логику, нужно не забыть вернуть строку или столбец обратно в таблицу (return).

Полное описание функции доступно [тут](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html)

In [ ]:
def my_function(r): 
  r['first'] = r['first']**2
  r['second'] = r['second'] - 1
  return r

print("begin")
df.apply(my_function, axis=1) # тогда в my_function будут отправляться строки, в параметр r
# for *итерация по строчкам*
#.  применить к строке функцию my_function и перезаписать строчку

begin

       first    second     third
a   0.000015 -3.615701  0.089012
b   5.062500 -1.676224  0.045295
c  16.000000 -1.627216  0.365997
d   0.000017       NaN       NaN
e   0.410725       NaN       NaN
f   0.019043 -1.681677  0.975843

In [ ]:
def my_function(c):
  if c.name == 'first':
    c = c**2
  if c.name == 'second':
    c = c - 1
  return c

print("begin")
df.apply(my_function, axis=0) # тогда в my_function будут отправляться столбцы, в параметр c
# for *итерация по колонкам*
#.  применить к колонке функцию my_function и перезаписать колонку

begin

          first    second     third
a  2.328306e-10 -4.615701  0.089012
b  2.562891e+01 -2.676224  0.045295
c  2.560000e+02 -2.627216  0.365997
d  3.024847e-10       NaN       NaN
e  1.686951e-01       NaN       NaN
f  3.626307e-04 -2.681677  0.975843

In [ ]:
df.apply(lambda x: x * 2)

### Методы для работы со строками
Есть приятная возможность работы с векторизованными копиями функций для стандартного [типа данных str](https://pyprog.pro/python/py/str/str_methods.html). Например, мы можем перевести все строки в верхний регистр или нижний, посчитать кол-во определенных символов и т.д. Если у вас есть объект pandas.Series на который ссылается переменная s, то получить доступ к этим методам можно если вызвать свойство s.str.<название метода для работы со строками>.

[pandas.Series.str](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.html)

[Руководство по работе со строковыми колонками.](https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html)

Зададим еще одну строковую колонку в нашем датафрейме

In [ ]:
df['fourth'] = pd.Series(['abc', 'def', 'xyz dsad', 'dweq', 'dsad', 'dsad'], index=df.index)
df

       first    second     third    fourth
a   0.000015 -3.615701  0.089012       abc
b   5.062500 -1.676224  0.045295       def
c  16.000000 -1.627216  0.365997  xyz dsad
d   0.000017       NaN       NaN      dweq
e   0.410725       NaN       NaN      dsad
f   0.019043 -1.681677  0.975843      dsad

Приведем всю колонку к верхнему регистру

In [ ]:
df['fourth'].str.upper() # https://pythonworld.ru/tipy-dannyx-v-python/stroki-funkcii-i-metody-strok.html

a         ABC
b         DEF
c    XYZ DSAD
d        DWEQ
e        DSAD
f        DSAD
Name: fourth, dtype: object

Или разобьем все строки по определенному символу

In [ ]:
df['fourth'].str.split('d')

a           [abc]
b          [, ef]
c    [xyz , sa, ]
d         [, weq]
e        [, sa, ]
f        [, sa, ]
Name: fourth, dtype: object

Можно также указать вторым аргументом максимальное кол-во разбиений, и создать из полученных массивов новый датафрейм, где в каждую колонку будет записан элемент разбиения (expand=True).

Описание метода [pandas.Series.str.split()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.split.html )

In [ ]:
df['fourth'].str.split('d', 1, expand=True)

      0     1
a   abc  None
b          ef
c  xyz    sad
d         weq
e         sad
f         sad

### Соединение датафреймов

[Руководство по методам pd.merge, pd.join и pd.concat](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html)

In [ ]:
# pd.concat, pd.merge

Рассмотрим применение метода pd.concat для конкатенации (соединения по осям) на основе датафрейма iris.

In [ ]:
iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

pd.concat принимает на вход последовательность датафреймов или серий для соединения. По умолчанию соединение происходит по axis=0, но, конечно, можно произвести и горизонтальное соединение.

In [ ]:
vertical_concat = pd.concat([iris, iris], )
vertical_concat

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[300 rows x 5 columns]

Обратите внимание, что индексы не сбрасываются, и теперь мы видим две записи по одному индексу. Чтобы создать новый индекс, необходимо указать параметр ignore_index=True.

In [ ]:
vertical_concat.loc[110] # индексы не сбрасываются, если нужно сбросить, используем метод reset_index()

     sepal.length  sepal.width  petal.length  petal.width    variety
110           6.5          3.2           5.1          2.0  Virginica
110           6.5          3.2           5.1          2.0  Virginica

Либо сбросить индекс уже после соединения

In [ ]:
vertical_concat.reset_index()

     index  sepal.length  sepal.width  petal.length  petal.width    variety
0        0           5.1          3.5           1.4          0.2     Setosa
1        1           4.9          3.0           1.4          0.2     Setosa
2        2           4.7          3.2           1.3          0.2     Setosa
3        3           4.6          3.1           1.5          0.2     Setosa
4        4           5.0          3.6           1.4          0.2     Setosa
..     ...           ...          ...           ...          ...        ...
295    145           6.7          3.0           5.2          2.3  Virginica
296    146           6.3          2.5           5.0          1.9  Virginica
297    147           6.5          3.0           5.2          2.0  Virginica
298    148           6.2          3.4           5.4          2.3  Virginica
299    149           5.9          3.0           5.1          1.8  Virginica

[300 rows x 6 columns]

In [ ]:
vertical_concat.reset_index().loc[110]

index                 110
sepal.length          6.5
sepal.width           3.2
petal.length          5.1
petal.width           2.0
variety         Virginica
Name: 110, dtype: object

Аналогично, соединение по горизонтали

In [ ]:
horizontal_concat = pd.concat([iris, iris], axis=1)
horizontal_concat

,sepal.length,sepal.width,petal.length,petal.width,variety,sepal.length,sepal.width,petal.length,petal.width,variety
0,5.1,3.5,1.4,0.2,Setosa,5.1,3.5,1.4,0.2,Setosa
1,4.9,3.0,1.4,0.2,Setosa,4.9,3.0,1.4,0.2,Setosa
2,4.7,3.2,1.3,0.2,Setosa,4.7,3.2,1.3,0.2,Setosa
3,4.6,3.1,1.5,0.2,Setosa,4.6,3.1,1.5,0.2,Setosa
4,5.0,3.6,1.4,0.2,Setosa,5.0,3.6,1.4,0.2,Setosa
...,...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Virginica,6.7,3.0,5.2,2.3,Virginica
146,6.3,2.5,5.0,1.9,Virginica,6.3,2.5,5.0,1.9,Virginica
147,6.5,3.0,5.2,2.0,Virginica,6.5,3.0,5.2,2.0,Virginica
148,6.2,3.4,5.4,2.3,Virginica,6.2,3.4,5.4,2.3,Virginica
149,5.9,3.0,5.1,1.8,Virginica,5.9,3.0,5.1,1.8,Virginica

In [ ]:
horizontal_concat['sepal.length']

     sepal.length  sepal.length
0             5.1           5.1
1             4.9           4.9
2             4.7           4.7
3             4.6           4.6
4             5.0           5.0
..            ...           ...
145           6.7           6.7
146           6.3           6.3
147           6.5           6.5
148           6.2           6.2
149           5.9           5.9

[150 rows x 2 columns]

Стоит также отметить важный параметр join, который по умолчанию выставлен в 'outer', но может быть выставлен в 'inner'. Этот параметр указывает как поступить с теми индексами, которых нет в одном из датафреймов, участвующих в соединении.

'outer' объединяет (union) датафреймы.

'inner' оставляет только пересечения по индексу.

См. примеры

In [ ]:
pd.concat([iris, iris[:50]], join='outer', axis=1)

     sepal.length  sepal.width  petal.length  ...  petal.length petal.width  variety
0             5.1          3.5           1.4  ...           1.4         0.2   Setosa
1             4.9          3.0           1.4  ...           1.4         0.2   Setosa
2             4.7          3.2           1.3  ...           1.3         0.2   Setosa
3             4.6          3.1           1.5  ...           1.5         0.2   Setosa
4             5.0          3.6           1.4  ...           1.4         0.2   Setosa
..            ...          ...           ...  ...           ...         ...      ...
145           6.7          3.0           5.2  ...           NaN         NaN      NaN
146           6.3          2.5           5.0  ...           NaN         NaN      NaN
147           6.5          3.0           5.2  ...           NaN         NaN      NaN
148           6.2          3.4           5.4  ...           NaN         NaN      NaN
149           5.9          3.0           5.1  ...           NaN         NaN      NaN

[150 rows x 10 columns]

In [ ]:
pd.concat([iris, iris[:50]], join='inner', axis=1)

    sepal.length  sepal.width  petal.length  ...  petal.length petal.width  variety
0            5.1          3.5           1.4  ...           1.4         0.2   Setosa
1            4.9          3.0           1.4  ...           1.4         0.2   Setosa
2            4.7          3.2           1.3  ...           1.3         0.2   Setosa
3            4.6          3.1           1.5  ...           1.5         0.2   Setosa
4            5.0          3.6           1.4  ...           1.4         0.2   Setosa
5            5.4          3.9           1.7  ...           1.7         0.4   Setosa
6            4.6          3.4           1.4  ...           1.4         0.3   Setosa
7            5.0          3.4           1.5  ...           1.5         0.2   Setosa
8            4.4          2.9           1.4  ...           1.4         0.2   Setosa
9            4.9          3.1           1.5  ...           1.5         0.1   Setosa
10           5.4          3.7           1.5  ...           1.5         0.2   Setosa
11           4.8          3.4           1.6  ...           1.6         0.2   Setosa
12           4.8          3.0           1.4  ...           1.4         0.1   Setosa
13           4.3          3.0           1.1  ...           1.1         0.1   Setosa
14           5.8          4.0           1.2  ...           1.2         0.2   Setosa
15           5.7          4.4           1.5  ...           1.5         0.4   Setosa
16           5.4          3.9           1.3  ...           1.3         0.4   Setosa
17           5.1          3.5           1.4  ...           1.4         0.3   Setosa
18           5.7          3.8           1.7  ...           1.7         0.3   Setosa
19           5.1          3.8           1.5  ...           1.5         0.3   Setosa
20           5.4          3.4           1.7  ...           1.7         0.2   Setosa
21           5.1          3.7           1.5  ...           1.5         0.4   Setosa
22           4.6          3.6           1.0  ...           1.0         0.2   Setosa
23           5.1          3.3           1.7  ...           1.7         0.5   Setosa
24           4.8          3.4           1.9  ...           1.9         0.2   Setosa
25           5.0          3.0           1.6  ...           1.6         0.2   Setosa
26           5.0          3.4           1.6  ...           1.6         0.4   Setosa
27           5.2          3.5           1.5  ...           1.5         0.2   Setosa
28           5.2          3.4           1.4  ...           1.4         0.2   Setosa
29           4.7          3.2           1.6  ...           1.6         0.2   Setosa
30           4.8          3.1           1.6  ...           1.6         0.2   Setosa
31           5.4          3.4           1.5  ...           1.5         0.4   Setosa
32           5.2          4.1           1.5  ...           1.5         0.1   Setosa
33           5.5          4.2           1.4  ...           1.4         0.2   Setosa
34           4.9          3.1           1.5  ...           1.5         0.2   Setosa
35           5.0          3.2           1.2  ...           1.2         0.2   Setosa
36           5.5          3.5           1.3  ...           1.3         0.2   Setosa
37           4.9          3.6           1.4  ...           1.4         0.1   Setosa
38           4.4          3.0           1.3  ...           1.3         0.2   Setosa
39           5.1          3.4           1.5  ...           1.5         0.2   Setosa
40           5.0          3.5           1.3  ...           1.3         0.3   Setosa
41           4.5          2.3           1.3  ...           1.3         0.3   Setosa
42           4.4          3.2           1.3  ...           1.3         0.2   Setosa
43           5.0          3.5           1.6  ...           1.6         0.6   Setosa
44           5.1          3.8           1.9  ...           1.9         0.4   Setosa
45           4.8          3.0           1.4  ...           1.4         0.3   Setosa
46           5.1          3.8           1.6  ...           1.6         0.2   Setosa
47           4.6          3.2           1.4  ...           1.4         0.2   Setosa
48           5.3          3.7           1.5  ...           1.5         0.2   Setosa
49           5.0          3.3           1.4  ...           1.4         0.2   Setosa

[50 rows x 10 columns]

In [ ]:
pd.concat([iris, iris[['sepal.length', 'petal.length']]], join='outer', axis=0)

     sepal.length  sepal.width  petal.length  petal.width variety
0             5.1          3.5           1.4          0.2  Setosa
1             4.9          3.0           1.4          0.2  Setosa
2             4.7          3.2           1.3          0.2  Setosa
3             4.6          3.1           1.5          0.2  Setosa
4             5.0          3.6           1.4          0.2  Setosa
..            ...          ...           ...          ...     ...
145           6.7          NaN           5.2          NaN     NaN
146           6.3          NaN           5.0          NaN     NaN
147           6.5          NaN           5.2          NaN     NaN
148           6.2          NaN           5.4          NaN     NaN
149           5.9          NaN           5.1          NaN     NaN

[300 rows x 5 columns]

In [ ]:
pd.concat([iris, iris[['sepal.length', 'petal.length']]], join='inner', axis=0)

     sepal.length  petal.length
0             5.1           1.4
1             4.9           1.4
2             4.7           1.3
3             4.6           1.5
4             5.0           1.4
..            ...           ...
145           6.7           5.2
146           6.3           5.0
147           6.5           5.2
148           6.2           5.4
149           5.9           5.1

[300 rows x 2 columns]

#### pd.merge

pandas имеет полнофункциональные, высокопроизводительные операции соединения в памяти, идиоматически очень похожие на реляционные базы данных, такие как SQL.

Вообще говоря, существует 3 типа соединений
1. внутреннее соединение (inner)
2. левое соединение (left), так остаются строки из левой таблицы, а для неизвестных значений правой выставляется значение NaN
3. правое соеденине (т.е right) так остаются строки из правой таблицы, а для неизвестных значений левой выставляется значение NaN
4. внешнее соединение (т.е outer). кобминация из левого и правого соединения

Для запоминания можно вспоользовать вот этой картинкой. Нужно подчеркнуть, что пересечение и объединение происходит в множестве ключей (колонок), по которым происходит соединение. Так, например, для inner join мы оставляем в результирующей выборке подмножество всевозможных попарных комбинаций строк, с условием, что значения в колонках (ключах) по которым происходит соединение, совпадают.

![joins](https://i.stack.imgur.com/VQ5XP.png)

[Сравнение использования с sql join-ами](https://pandas.pydata.org/pandas-docs/stable/getting_started/comparison/comparison_with_sql.html#compare-with-sql-join)

Мы будем работать с методом pd.merge(), так как он является более универсальным, хотя иногда короче использовать метод pd.join()

In [ ]:
# разберемся на примере задач
import pandas as pd
import numpy as np

df_left = pd.DataFrame({
    'name': ['Dmitry', 'Sergey', 'Anna'],
    'age': [20, 30, 40]
}, index=['a', 'a', 'b'])

df_right = pd.DataFrame({
    'name': ['Dmitry', 'Sergey', 'Anna', 'Vasiliy'],
    'second_name': ['Petrov', 'Ivanov', 'Smirnova', 'Alexandrov']
}, index=['a', 'b', 'c', 'b'])

In [ ]:
df_left

     name  age
a  Dmitry   20
a  Sergey   30
b    Anna   40

In [ ]:
df_right

      name second_name
a   Dmitry      Petrov
b   Sergey      Ivanov
c     Anna    Smirnova
b  Vasiliy  Alexandrov

У pd.merge есть довольно много параметров, увидев которые в первый раз можно немного выпасть в осадок. Давайте разберемся по порядку.

Первые 2 параметра: left и right. Это левый и правый датафрейм (таблицы), которые будут участвовать в соединении.

left_index и right_index принимают значения True или False. Указывают, использовать ли для левой таблицы индекс в качестве ключа и то же самое для правой. Так, вызов pd.merge(left, right, left_index=True, right_index=True) произведет соединение, где будет происходить проверка на равенство индексов в левой и правой таблице

left_on и right_on используются, когда мы хотим произвести соединение не по индексу, а по колонкам, принимают в качестве значения соответственно названия колонок из левой таблицы и из правой, можно передать сразу несколько названий колонок в списке, но кол-во колонок слева и справа должно совпадать. Таким образом pd.merge(left, right, left_on='A', right_on='B') произведет соединение в котором будет происходить проверка на равенство значений в колонке 'A' левой таблицы и колонки 'B' правой таблицы.

Мы можем комбинировать left_index, right_index и left_on, right_on. Например, использовать в левой таблице в качестве ключа индекс, а в правой колонку 'B': pd.merge(left, right, left_index=True, right_on='B').

Если названия колонок для соединения в обеих таблицах совпадают, то вместо передачи идентичных значений в left_on и right_on, можно просто указать параметр on='<название колонки>'.

Параметр how указывает тип соединения, и может принимать значения 'inner' (по умолчанию), 'outer', 'left' и 'right'.

Любопытно также наличие параметра validate, который делает проверку результирующего датафрейма в зависимости от наших ожиданий результата. Принимает следующие значения:
- “one_to_one” или “1:1”: проверяет, что ключи, использованные в соединении уникальны в левой и правой таблице

- “one_to_many” или “1:m”: Проверяет, что ключи уникальны в левой таблице

- “many_to_one” или “m:1”: Проверяет, что ключи уникальны в правой таблице

- “many_to_many” или “m:m”: можно указать, но при этом не происходит никаких проверок. Ключи могут быть неуникальны в обеих таблицах.

#### Задачи на pd.merge
1. соедините строки первой таблицы со второй по индексу (внутреннее соединение)
2. соедините строки первой таблицы со второй по индексу (левое соединение)
3. соедините строки первой таблицы со второй по индексу (правое соединение)
4. соедините строки первой таблицы со второй по колонке name (внутреннее соединение)
5. соедините строки первой таблицы со второй по колонке name (правое соединение)

In [ ]:
# 1. соедините строки первой таблицы со второй по индексу (внутреннее соединение)
# если не указываем left_index=True и right_index=True, то соединение происходит по целочисленному сквозному индексу
pd.merge(df_left, df_right, left_index=True, right_index=True, how='inner')

   name_x  age   name_y second_name
a  Dmitry   20   Dmitry      Petrov
a  Sergey   30   Dmitry      Petrov
b    Anna   40   Sergey      Ivanov
b    Anna   40  Vasiliy  Alexandrov

In [ ]:
# прочувствуйте разницу
pd.merge(df_left, df_right)

     name  age second_name
0  Dmitry   20      Petrov
1  Sergey   30      Ivanov
2    Anna   40    Smirnova

In [ ]:
# 2. соедините строки первой таблицы со второй по индексу (левое соединение)
pd.merge(df_left, df_right, how='left', left_index=True, right_index=True)

   name_x  age   name_y second_name
a  Dmitry   20   Dmitry      Petrov
a  Sergey   30   Dmitry      Petrov
b    Anna   40   Sergey      Ivanov
b    Anna   40  Vasiliy  Alexandrov

In [ ]:
# 3. соедините строки первой таблицы со второй по индексу (правое соединение)
pd.merge(df_left, df_right, how='right', left_index=True, right_index=True)

   name_x   age   name_y second_name
a  Dmitry  20.0   Dmitry      Petrov
a  Sergey  30.0   Dmitry      Petrov
b    Anna  40.0   Sergey      Ivanov
b    Anna  40.0  Vasiliy  Alexandrov
c     NaN   NaN     Anna    Smirnova

In [ ]:
# 4. соедините строки первой таблицы со второй по колонке name (внутреннее соединение)
pd.merge(df_left, df_right, how='inner', left_on='name', right_on='name')

     name  age second_name
0  Dmitry   20      Petrov
1  Sergey   30      Ivanov
2    Anna   40    Smirnova

In [ ]:
# 5. соедините строки первой таблицы со второй по колонке name (правое соединение)
pd.merge(df_left, df_right, how='right', left_on='name', right_on='name')

      name   age second_name
0   Dmitry  20.0      Petrov
1   Sergey  30.0      Ivanov
2     Anna  40.0    Smirnova
3  Vasiliy   NaN  Alexandrov

In [ ]:
pd.merge(df_left, df_right, how='right', on='name') # если название колонки в левой таблице совподает с названием колонки в правой таблице, 
# то можно опустить параметры left_on и right_on, и использовать просто параметр on.

      name   age second_name
0   Dmitry  20.0      Petrov
1   Sergey  30.0      Ivanov
2     Anna  40.0    Smirnova
3  Vasiliy   NaN  Alexandrov

### Группировка
Очень часто нам необходимо подсчитывать различные параметры и строить графики по группам. Для всего этого существует операция groupby в pandas, и она работает по существу также, как и в SQL.

Руководство по [группировке](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html) и [еще одно на хабре](https://habr.com/ru/post/501214/).

In [ ]:
# groupby, max, min, describe, agg, apply

pandas.core.groupby.generic.DataFrameGroupBy

Вот так мы можем произвести группировку по колнке variety и посчитать среднее значения в каждой колонке по группам

In [ ]:
iris.groupby('variety').mean()

            sepal.length  sepal.width  petal.length  petal.width
variety
Setosa             5.006        3.428         1.462        0.246
Versicolor         5.936        2.770         4.260        1.326
Virginica          6.588        2.974         5.552        2.026

Или максимальные

In [ ]:
iris.groupby('variety').max()

            sepal.length  sepal.width  petal.length  petal.width
variety
Setosa               5.8          4.4           1.9          0.6
Versicolor           7.0          3.4           5.1          1.8
Virginica            7.9          3.8           6.9          2.5

Или минимальные

In [ ]:
iris.groupby('variety').min()

            sepal.length  sepal.width  petal.length  petal.width
variety
Setosa               4.3          2.3           1.0          0.1
Versicolor           4.9          2.0           3.0          1.0
Virginica            4.9          2.2           4.5          1.4

Иногда необходимо посчитать разные метрики для разных колонок, используйте для этого метод .agg()

In [ ]:
iris.groupby('variety').agg({
    'sepal.length': ['max', 'min'], 
    'petal.length': ['mean', 'median'],
    'petal.width': 'max'
    })

           sepal.length      petal.length        petal.width
                    max  min         mean median         max
variety
Setosa              5.8  4.3        1.462   1.50         0.6
Versicolor          7.0  4.9        4.260   4.35         1.8
Virginica           7.9  4.9        5.552   5.55         2.5

Есть даже .describe(), но его вывод выглядит несколько громоздко

In [ ]:
iris.groupby('variety').describe()

           sepal.length                                              \
                  count   mean       std  min    25%  50%  75%  max
variety
Setosa             50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
Versicolor         50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
Virginica          50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

           sepal.width         ... petal.length      petal.width         \
                 count   mean  ...          75%  max       count   mean
variety                        ...
Setosa            50.0  3.428  ...        1.575  1.9        50.0  0.246
Versicolor        50.0  2.770  ...        4.600  5.1        50.0  1.326
Virginica         50.0  2.974  ...        5.875  6.9        50.0  2.026


                 std  min  25%  50%  75%  max
variety
Setosa      0.105386  0.1  0.2  0.2  0.3  0.6
Versicolor  0.197753  1.0  1.2  1.3  1.5  1.8
Virginica   0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 32 columns]

Обратите внимание, что после того как мы вызвали метод .groupby(), нам возвращается специальный объект DataFrameGroupBy. Для него есть отдельная страничка с доступными методами. После применения одной из агрегирующих функций мы получаем новый датафрейм с которым мы уже умеем работать.

In [ ]:
iris.groupby('variety')

Для DataFrameGroupBy есть также и метод apply, по своему поведению похожий на apply для DataFrame

In [ ]:
def my_function(gr):
  print(gr)
  return gr

iris.groupby('variety').apply(my_function)

    sepal.length  sepal.width  petal.length  petal.width variety
0            5.1          3.5           1.4          0.2  Setosa
1            4.9          3.0           1.4          0.2  Setosa
2            4.7          3.2           1.3          0.2  Setosa
3            4.6          3.1           1.5          0.2  Setosa
4            5.0          3.6           1.4          0.2  Setosa
..           ...          ...           ...          ...     ...
45           4.8          3.0           1.4          0.3  Setosa
46           5.1          3.8           1.6          0.2  Setosa
47           4.6          3.2           1.4          0.2  Setosa
48           5.3          3.7           1.5          0.2  Setosa
49           5.0          3.3           1.4          0.2  Setosa

[50 rows x 5 columns]
    sepal.length  sepal.width  petal.length  petal.width     variety
50           7.0          3.2           4.7          1.4  Versicolor
51           6.4          3.2           4.5          1.5  Versicolor
52           6.9          3.1           4.9          1.5  Versicolor
53           5.5          2.3           4.0          1.3  Versicolor
54           6.5          2.8           4.6          1.5  Versicolor
..           ...          ...           ...          ...         ...
95           5.7          3.0           4.2          1.2  Versicolor
96           5.7          2.9           4.2          1.3  Versicolor
97           6.2          2.9           4.3          1.3  Versicolor
98           5.1          2.5           3.0          1.1  Versicolor
99           5.7          2.8           4.1          1.3  Versicolor

[50 rows x 5 columns]
     sepal.length  sepal.width  petal.length  petal.width    variety
100           6.3          3.3           6.0          2.5  Virginica
101           5.8          2.7           5.1          1.9  Virginica
102           7.1          3.0           5.9          2.1  Virginica
103           6.3          2.9           5.6          1.8  Virginica
104           6.5          3.0           5.8          2.2  Virginica
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[50 rows x 5 columns]

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [ ]:
def my_function(gr):
  # смотрю значение колонки varitety в первой строке группы, и в зависимости от этого делаю что-то...
  if gr.iloc[0]['variety'] == 'Setosa':
    gr['sepal.width'] = gr['sepal.width']**2
  if gr.iloc[0]['variety'] == 'Virginica':
    gr['sepal.width'] = gr['sepal.width']**3
  return gr

iris.groupby('variety').apply(my_function)
# для каждой подгруппы:
#   положить подгруппу в переменную gr
#   применить преобразования в my_function
#   преобразованную группу вернуть обратно в таблицу (return)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1       12.250           1.4          0.2     Setosa
1             4.9        9.000           1.4          0.2     Setosa
2             4.7       10.240           1.3          0.2     Setosa
3             4.6        9.610           1.5          0.2     Setosa
4             5.0       12.960           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7       27.000           5.2          2.3  Virginica
146           6.3       15.625           5.0          1.9  Virginica
147           6.5       27.000           5.2          2.0  Virginica
148           6.2       39.304           5.4          2.3  Virginica
149           5.9       27.000           5.1          1.8  Virginica

[150 rows x 5 columns]

Есть также ряд любопытных методов типа кумулятивной суммы (cumsum) или ранга (rank). Так мы можем присвоить в каждой группе порядковые значения объектам в зависимости от одной из колонок. Бывает очень полезно, например, если вам нужно проследить эволюцию какого-нибудь из параметров в зависимости от номера события во времени.

In [ ]:
iris['sepal.length.rank'] = iris.groupby('variety')['sepal.length'].rank(method='dense')
iris

,sepal.length,sepal.width,petal.length,petal.width,variety,sepal.length.rank
0,5.1,3.5,1.4,0.2,Setosa,9.0
1,4.9,3.0,1.4,0.2,Setosa,7.0
2,4.7,3.2,1.3,0.2,Setosa,5.0
3,4.6,3.1,1.5,0.2,Setosa,4.0
4,5.0,3.6,1.4,0.2,Setosa,8.0
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Virginica,12.0
146,6.3,2.5,5.0,1.9,Virginica,9.0
147,6.5,3.0,5.2,2.0,Virginica,11.0
148,6.2,3.4,5.4,2.3,Virginica,8.0
149,5.9,3.0,5.1,1.8,Virginica,5.0

#### Мультииндекс
Или многоуровневый индекс. Возникает тогда, когда группировка происходит по нескольким колонкам. Рассмотрим как мы можем работать с ним.

In [ ]:
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar',
                             'foo', 'bar', 'foo', 'foo'],
                   'B': ['one', 'one', 'two', 'three',
                             'two', 'two', 'one', 'three'],
                   'C': np.random.randn(8),
                   'D': np.random.randn(8)})
df

     A      B         C         D
0  foo    one  0.660450 -0.674954
1  bar    one -0.686286 -2.094640
2  foo    two -0.583055  1.833963
3  bar  three  0.366913  0.493250
4  foo    two  1.359965 -1.009731
5  bar    two -1.119176 -2.467080
6  foo    one  0.477056 -1.387009
7  foo  three  0.934006 -0.170818

In [ ]:
df.groupby(['A','B']).mean()

                  C         D
A   B
bar one   -0.686286 -2.094640
    three  0.366913  0.493250
    two   -1.119176 -2.467080
foo one    0.568753 -1.030982
    three  0.934006 -0.170818
    two    0.388455  0.412116

In [ ]:
df.groupby(['A','B']).mean().index

MultiIndex([('bar',   'one'),
            ('bar', 'three'),
            ('bar',   'two'),
            ('foo',   'one'),
            ('foo', 'three'),
            ('foo',   'two')],
           names=['A', 'B'])

In [ ]:
multi_gr = df.groupby(['A','B']).mean()
multi_gr

                  C         D
A   B
bar one   -0.686286 -2.094640
    three  0.366913  0.493250
    two   -1.119176 -2.467080
foo one    0.568753 -1.030982
    three  0.934006 -0.170818
    two    0.388455  0.412116

В навигации по loc мы теперь можем передавтаь по строкам 2 значения в кортеже, которые представляют уровни индекса.

In [ ]:
multi_gr.loc[('foo', 'three')]

C    0.934006
D   -0.170818
Name: (foo, three), dtype: float64

Без изменений по колонкам, а если бы и там у нас был мультииндекс, то мы тоже могли бы делать выборки, передавая кортежи

In [ ]:
multi_gr.loc[('foo', 'three'), 'C']

0.9340064023725707

Однако, pandas не поймет запись типа ('foo', 'one':'three'), поэтому если нас интересует слайсинг по мультииндексу, нужно явно задавать срез с помощью функции [slice()](https://www.programiz.com/python-programming/methods/built-in/slice). На самом деле при указании срезов через двоеточие, происходит инициализация того же самого объекта slice, что и с использованием функции slice(). : является своего рода синтаксическим сахаром.

In [ ]:
multi_gr.loc[('foo', slice('one','three')), ['C', 'D']]

                  C         D
A   B
foo one    0.568753 -1.030982
    three  0.934006 -0.170818

.iloc тоже работает!

In [ ]:
multi_gr.iloc[1:3]

                  C        D
A   B
bar three  0.366913  0.49325
    two   -1.119176 -2.46708

С помощью методов unstack и stack мы можем распаковывать уровни индекса в колонки и упаковывать обратно в строки

In [ ]:
multi_gr.unstack(level=1) # распакован первый уровень индекса

            C                             D
B         one     three       two       one     three       two
A
bar -0.686286  0.366913 -1.119176 -2.094640  0.493250 -2.467080
foo  0.568753  0.934006  0.388455 -1.030982 -0.170818  0.412116

In [ ]:
multi_gr.unstack(level=0) # распакован нулевой уровень индекса

              C                  D
A           bar       foo      bar       foo
B
one   -0.686286  0.568753 -2.09464 -1.030982
three  0.366913  0.934006  0.49325 -0.170818
two   -1.119176  0.388455 -2.46708  0.412116

In [ ]:
multi_gr.unstack(level=0).stack(level=0)

A             bar       foo
B
one   C -0.686286  0.568753
      D -2.094640 -1.030982
three C  0.366913  0.934006
      D  0.493250 -0.170818
two   C -1.119176  0.388455
      D -2.467080  0.412116

In [ ]:
multi_gr.unstack(level=0).stack(level=1) # по сути обратная операция

                  C         D
B     A
one   bar -0.392033 -0.654149
      foo -0.182899  0.544938
three bar -1.849145  1.277071
      foo -0.004470 -2.053619
two   bar  1.703279 -0.260835
      foo  0.488338 -1.274763

In [ ]:
multi_gr.stack()

A    B
bar  one    C   -0.392033
            D   -0.654149
     three  C   -1.849145
            D    1.277071
     two    C    1.703279
            D   -0.260835
foo  one    C   -0.182899
            D    0.544938
     three  C   -0.004470
            D   -2.053619
     two    C    0.488338
            D   -1.274763
dtype: float64

### Сводные таблицы ([pivot table](http://datareview.info/article/svodnyie-tablitsyi-v-python/))

Возможность создавать сводные таблицы присутствует в электронных таблицах и других программах, оперирующих табличными данными. Сводная таблица принимает на входе данные из отдельных столбцов и группирует их, формируя двумерную таблицу, реализующую многомерное обобщение данных. Чтобы ощутить разницу между сводной таблицей и операцией GroupBy, можно представить себе сводную таблицу, как многомерный вариант агрегации посредством GroupBy. То есть данные разделяются, преобразуются и объединяются, но при этом разделение и объединение осуществляются не по одномерному индексу, а по двумерной сетке.

In [ ]:
df = pd.DataFrame({'A': ['one', 'one', 'two', 'three'] * 3,
                      'B': ['A', 'B', 'C'] * 4,
                       'C': ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                       'D': np.random.randn(12),
                       'E': np.random.randn(12)})

In [ ]:
df

        A  B    C         D         E
0     one  A  foo  0.011168 -1.048175
1     one  B  foo  1.233473 -0.784908
2     two  C  foo  1.166992 -0.190049
3   three  A  bar -0.155225 -0.807457
4     one  B  bar -0.127298  0.167853
5     one  C  bar -0.597779 -0.626424
6     two  A  foo -2.701327 -0.322044
7   three  B  foo -0.196128  1.218848
8     one  C  foo  0.172951 -1.360709
9     one  A  bar -1.468515  1.871251
10    two  B  bar  0.372304  2.355934
11  three  C  bar  0.577395  1.488909

In [ ]:
# pivot(values, index, columns, margins)

Есть следующие параметры
- values значения для агрегации
- index строковый индекс (одна из колонок для группировки)
- columns колоночный индекс (одна из колонок для группировки)
- aggfunc аггрегационная функция

In [ ]:
pd.pivot_table(df, values='E', index='A', columns='B', aggfunc='mean')

B             A         B         C
A
one    0.411538 -0.308527 -0.993566
three -0.807457  1.218848  1.488909
two   -0.322044  2.355934 -0.190049

margins дает нам дополнительную сводку по всем группам

In [ ]:
pd.pivot_table(df, values='E', index='A', columns='B', aggfunc='mean', margins=True)

B             A         B         C       All
A
one    0.411538 -0.308527 -0.993566 -0.296852
three -0.807457  1.218848  1.488909  0.633433
two   -0.322044  2.355934 -0.190049  0.614614
All   -0.076606  0.739432 -0.172068  0.163586

In [ ]:
pd.pivot_table(df, values='E', index='A', columns='B', aggfunc='max')

B             A         B         C
A
one    1.871251  0.167853 -0.626424
three -0.807457  1.218848  1.488909
two   -0.322044  2.355934 -0.190049

 К сожалению, нельзя применить при агрегации одну функцию, а при своде применить другую. Но мы можем обойти это ограничение вручную.

In [ ]:
pvt = pd.pivot_table(df, values='E', index='A', columns='B', aggfunc='max')
pvt['All_mean'] = pvt.mean(axis=1)
pvt.loc['All_mean'] = pvt.mean(axis=0)
pvt

B                A         B         C  All_mean
A
one       1.871251  0.167853 -0.626424  0.470893
three    -0.807457  1.218848  1.488909  0.633433
two      -0.322044  2.355934 -0.190049  0.614614
All_mean  0.247250  1.247545  0.224146  0.572980

Можно в индекс или колонки передать и более одной колонки

In [ ]:
pd.pivot_table(df, values='E' , index=['A','C'], columns='B', aggfunc='mean', margins=True)

B                 A         B         C       All
A     C
one   bar  1.871251  0.167853 -0.626424  0.470893
      foo -1.048175 -0.784908 -1.360709 -1.064597
three bar -0.807457       NaN  1.488909  0.340726
      foo       NaN  1.218848       NaN  1.218848
two   bar       NaN  2.355934       NaN  2.355934
      foo -0.322044       NaN -0.190049 -0.256046
All       -0.076606  0.739432 -0.172068  0.163586

С помощью crosstab мы можем делать сводные таблицы из колонок разных датафреймов

In [ ]:
pd.crosstab(df['A'], df['B'], values=df['E'], aggfunc='max')

B             A         B         C
A
one    1.871251  0.167853 -0.626424
three -0.807457  1.218848  1.488909
two   -0.322044  2.355934 -0.190049